*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Roboto:wght@300&display=swap');

:root{
    --fontBase:'Roboto', sans-serif;
    --headline1: oblique normal 36px var(--fontBase);
    --headline2: oblique normal 24px var(--fontBase);
    --headline3: oblique normal 64px var(--fontBase);
    --headline4: oblique normal 48px var(--fontBase);
    --body: oblique normal 14px 'IBM Plex Mono', monospace;
    --body2: oblique normal 16px 'IBM Plex Mono', monospace;
    --body3: oblique normal 18px 'IBM Plex Mono', monospace;
    --green:#00F3BB;
    --lightblue:#0000EC;
    --blue:#060A24;
    --white:#fff;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    margin: 0 6%;
}

.button{
    background: var(--green);
    width: 288px;
    height: 48px;
    border: none;
    line-height: 22px;
    text-decoration: none;
    border-radius: 60px;
    cursor: pointer;
}

.first_mn{
    margin-top: 0;
}

.mn_content{
    font: var(--body);
    color: var(--blue);
    margin: 20px 0;
    line-height: 22px;
}

.first_title{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font: var(--headline1);
    color: var(--blue);
    line-height: 42px;
}

.point{
    color: var(--lightblue);
}

.world{
    text-decoration: line-through;
    padding-left: 12px;
}

.mn_btn{
    display: flex;
    justify-content: center;
    font: var(--body2);
}

.episode{
    -webkit-clip-path: polygon(100% 1%, 100% 95%, 0 100%, 0 4%);
    clip-path: polygon(100% 1%, 100% 95%, 0 100%, 0 4%);
    width: 100%;
    height: 1300px;
    background: rgb(0,0,255);
    background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
    z-index: 0;
}

.display_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.second_title{
    font: var(--headline1);
    color: var(--white);
    position: relative;
    top: 65px;
    right: 0;
}

.iframe_one{
    margin-top: 100px;
}

.all_iframes{
    margin-top: 0px;
}

.display_phone{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.phone{
    margin-top: -110px;
    z-index: 1;
}

.third_title{
    letter-spacing: 0;
    line-height: 42px;
    font: var(--headline1);
    color: var(--blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
}

.phone_paragraph{
    margin-top: 15px;
    color: var(--blue);
    font: var(--body);
    letter-spacing: 0;
    line-height: 22px;
}

.f_title{
    margin-top: 80px;
}

.fourth_title{
    font: var(--headline1);
    color: var(--blue);
    letter-spacing: 0;
    line-height: 42px;
    height: 100px;
}

.display_guests{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.guests_img{
    height: 1458px;
}

.img_g{
    width: 100%;
    height: 243px;
}

.fifth_title{
    font: var(--headline1);
    color: var(--blue);
    line-height: 42px;
    margin: 48px 0px 37px 0px;
}

.display_topics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    text-align: center;
}

.icon_topics{
    margin-top: 65px;
}

.content_topics{
    margin-top: 13px;
    font: var(--headline2);
    color: var(--blue);
}

.novelties{
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    height: 341px;
    background: rgb(0,0,255);
    background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
    margin-top: 42px;
}

.last_title{
    font: var(--headline1);
    color: var(--white);
    padding-top:64px;
    text-align: center;
}

.btn_novelties{    
    margin-top: 36px;
    display: flex;
    justify-content: center;
    font: var(--body2);
}

.footer{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

small{
    margin-bottom: 16px;
}

.footer_icons{
    width: 198px;
    display: flex;
    justify-content: space-between;
}

.fab{
    color: #000;
}

@media screen and (min-width:320px) and (max-width:779px) {
    .header{
        width: 100%;
        height: 44px ;
    }
    
    .div_menu{
        margin: 10px 16px;
    }
    
    label{
        position: relative;
        top: 0px ;
        left: 240px ;
    }
    
    .inner,
    .inner::before,
    .inner::after{
        content: '';
        width: 18px;
        height: 2px;
        border-radius: 10px;
        background-color: black;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    .inner::before{
        top: 8px;
    }
    
    .inner::after{
        top: 16px;
    }
    
    .input_check{
        position: absolute;
        top: 16px ;
        left: 280px ;
        width: 23px;
        height: 29px;
    }
    
    .check{
        display: none;
    }
    
    .menu_topics{
        height: 0px; 
        margin-top: 10px;
        width: 100%;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }
    
    .check:checked + .menu_topics{
        transform: translateX(0%);
        transition: all 0.3s ease-in-out;
        height: 260px;
        width: 100%;
    }
    
    li{
        height: 40px;
    }
    
    .menu_link{
        padding: 10px;
        background-color: var(--lightblue);
        display: block;
        border: 1px solid #fff;
        color: white;
        font: var(--body2);
        text-transform: uppercase;
    }
}

@media screen and (min-width:780px) and (max-width:1440px) {
    html{
        scroll-behavior: smooth;
    }

    body{
        padding-top: 120px;
    }

    .button:hover{
        background: rgb(0,240,184);
        background: linear-gradient(90deg, rgba(0,240,184,1) 0%, rgba(22,0,166,1) 100%);
        border: solid 0.1px rgba(0, 0, 0, 0.568);
        color:#fff;
        transform: scale(1.05);
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .header{
        background-color: white;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        margin: 0;
        border-bottom: solid 0.3px rgba(0, 0, 0, 0.185);
    }

    .div_menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input_check{
        position: absolute;
        top: 0px ;
        left: 0px ;
        width: 0px;
    }

    .menu_topics{
        height: 0px; 
        margin-top: 10px;
        width: 100%;
    }

    .menu_link{
        color: rgb(0, 0, 0);
        font: var(--body2);
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
    }

    .menu_link:hover{
        color: var(--green);
        font-size: 18px;
        text-decoration: line-through;
        cursor: pointer;
    }

    .logo{
        margin: 22px 0px  0px 100px;
    }

    .ul_menu{
        display: flex;
        justify-content: flex-end;
        margin-right: 100px;
    }

    .li_menu{
        font: var(--body2);
        margin: 0 10px;
        text-transform: uppercase;
        width: max-content;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        margin: 0  200px;
    }

    .first_title{
        font: var(--headline3);
        width: 725px;
    }

    .pale{
        margin-left: 12px;
    }

    .nav_content{
        width: 628px;
        font: var(--body2);
    }

    .nav_btn button{
        margin-top: 56px;
        width: 226px;
        color: #000;
        font: var(--body3);
    }

    .wrapper{
        margin: 0;
    }

    .episode{
        clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 9%);
        background: rgb(0,0,255);
        background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
        height: 1042px;
        width: 100%;
    }

    .second_title{
        font: var(--headline4);
        color: var(--white);
        position: relative;
        top: 186px;
        left: 200px;
    }

    .iframes{
        margin-top: 230px;
    }

    .iframe_one{
        margin-top: 0;
        width: 584px;
    }

    .all_iframes{
        margin-top: 0px; 
        width: 584px;
    }

    .margin_iframe{
        margin-top: 72px;
    }

    .display_wrap{
        display: flex;
        justify-content: space-evenly;
    }

    .display_phone{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        margin: 0 200px;
    }

    .phone{
        margin-top: -120px;
        z-index: 1;
    }

    .third_title{
        display: flex;
        letter-spacing: 0;
        line-height: 42px;
        font: var(--headline4);
        color: var(--blue);
        margin-left: 62px;
        margin-top: 20px;
        width: 399px;
    }

    .third_t{
        margin-left: 7px;
    }

    .phone_paragraph{
        width: 460px;
        height: 204px;
        margin-top: 15px;
        margin-left: 62px;
        color: var(--blue);
        font: var(--body2);
        letter-spacing: 0;
        line-height: 24px;
    }

    .img_phone{
        width: 457px;
        height: 660px;
    }

    .f_title{
        margin: 64px 0 0 200px;
    }

    .fourth_title{
        font: var(--headline4);
        letter-spacing: 0;
        line-height: 42px;
        height: 100px;
        color: var(--blue);
    }

    .display_guests{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .guests_img{
    height: 728px;
    width: 1440px;
    }

    .img_g{
        height: 364px;
        width: 480px;
    }

    .fifth_title{
        font: var(--headline4);
        color: var(--blue);
        line-height: 42px;
        display: flex;
        margin: 64px 0px 56px 200px;
    }

    .fi_title{
        margin-left: 10px;
    }

    .display_topics{
        width: 1040px;
        margin: 69px 0px 144px 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .content_topics{
        margin-top: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--blue);
        font: var(--headline2);
    }

    .icon_topics{
        margin-top: 0px;
    }

    .topics_container{
        width: 260px;
        height: 130px;
    }

    .content_topics:hover{
        transform: scale(1.1);
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .novelties{
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 11%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 11%);
        height: 518px;
        background: rgb(0,0,255);
        background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
        margin-top: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .last_title{
        font: var(--headline1);
        color: var(--white);
        padding-top:0;
        text-align: center;
    }

    .l_title{
        margin-left: 10px;
    }
    
    .btn_novelties{  
        margin-top: 36px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .novelties .button{
        width: 345px;
        height: 56px;
        font: var(--body3);
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 95px;
    }
    
    small{
        margin-left: 100px;
        margin-top: 10px;
    }
    
    .footer_icons{
        width: 196px;
        margin-right: 100px;
    }

    .footer_a:hover{
        transform: scale(1.2);
    }

    .fab{
        color: #000;
        font-size: 18px;
    }

    .fab:hover{
        color: rgb(0,0,255);
    }

    .idk{
        height: 85px;
    }
} 